/* Reset CSS by Andy Bell */

*,
*::before,
*::after {
    font: inherit;
    box-sizing: border-box;
}


body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}


ul[role='list'],
ul[role='listbox'],
ol[role='list'],
ol[role='listbox']{
    list-style: none;
}


html,
body {
    height: 100%;
}


html:focus-within {
    scroll-behavior: smooth;
}


body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}


a:not([class]) {
    text-decoration-skip-ink: auto;
}


img,
picture {
    max-width: 100%;
    display: block;
}


input,
button,
textarea,
select {
    font: inherit;
}


@font-face {
    font-family: "Inconsolata";
    src: url("/fonts/inconsolata/static/Inconsolata-Bold.ttf") format('truetype');
    font-weight: bold; 
}


@font-face {
    font-family: "Inconsolata";
    src: url("/fonts/inconsolata/static/Inconsolata-Regular.ttf") format('truetype');
    font-weight: normal; 
}


@font-face {
    font-family: "Inter";
    src: url("/fonts/inter/static/Inter-Bold.ttf") format('truetype');
    font-weight: bold; 
}


@font-face {
    font-family: "Inter";
    src: url("/fonts/inter/static/Inter-Regular.ttf") format('truetype');
    font-weight: normal; 
}


@font-face {
    font-family: "Lora";
    src: url("/fonts/lora/static/Lora-Bold.ttf") format('truetype');
    font-weight: bold; 
}


@font-face {
    font-family: "Lora";
    src: url("/fonts/lora/static/Lora-Regular.ttf") format('truetype');
    font-weight: normal; 
}


:root {
    --clr-accent-300: hsl(274, 82%, 50%);
    --clr-accent-200: hsl(274, 82%, 60%);
    --clr-accent-100: hsl(0, 100%, 66%);

    --clr-neutral-800: hsl(0, 0%, 2%);
    --clr-neutral-700: hsl(0, 0%, 12%);
    --clr-neutral-600: hsl(0, 0%, 18%);
    --clr-neutral-500: hsl(0, 0%, 23%);
    --clr-neutral-400: hsl(0, 0%, 51%);
    --clr-neutral-300: hsl(0, 0%, 91%);
    --clr-neutral-200: hsl(0, 0%, 96%);
    --clr-neutral-100: hsl(0, 0%, 100%);

    --clr-overlay-100: hsla(0, 0%, 100%, 0.25);

    --ff-serif: "Lora", sans-serif;
    --ff-sans-serif: "Inter", serif;
    --ff-mono: "Inconsolata", monospace;

    --fs-500: 4rem;      /* 64px */
    --fs-400: 1.5rem;    /* 24px */
    --fs-300: 1.25rem;   /* 20px */
    --fs-200: 1.125rem;  /* 18px */
    --fs-100: 0.875rem;  /* 14px */

    @media (width <= 36.563em) {
        --fs-500: 2rem;
        --fs-400: 1.125rem;
        --fs-300: 1rem;
        --fs-200: 0.938rem
    }
}


/* utils */
.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.ff-sans-serif { font-family: var(--ff-sans-serif); }

.ff-serif { font-family: var(--ff-serif); }

.ff-mono { font-family: var(--ff-mono); }

.fw-regular { font-weight: normal; }

.fw-bold { font-weight: bold; }

.clr-accent-purple { color: var(--clr-accent-200); }

.text-center { text-align: center; }

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}


/* general */
body {
    --app-clr-container: var(--clr-neutral-200);
    --app-clr-body-text: var(--clr-neutral-600);
    --app-clr-body-devider: var(--clr-neutral-300);
    --app-clr-toggle: var(--clr-neutral-400);

    font-family: var(--ff-sans-serif);
    font-size: var(--fs-200);
    background-color: var(--app-clr-background, var(--clr-neutral-100));
}


.container {
    width: min(90%, 120ch);
    margin-inline: auto;
}


.primary-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-block: clamp(1.5rem, 5vw, 3.625rem);
}


.primary-header__logo {
    width: clamp(24px, 4vw, 32px);
}


.primary-header__controls {
    --_controls-gap: clamp(1rem, 2vw, 1.625rem);

    display: flex;
    align-items: center;
    gap: var(--_controls-gap);
}


.primary-header__toggle-container {
    order: 3;
    align-items: center;
    --gap: 1.25rem;
}


.font-selector {
    position: relative;
    padding-right: var(--_controls-gap);
    border-right: 2px solid var(--clr-neutral-300);
}


.font-selector:has([aria-expanded="true"]) > ul {
    display: grid;
}


.font-selector > button {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}


.font-selector > button::after {
    content: "";
    display: inline-block;
    width: 0.75rem;
    aspect-ratio: 1;

    background: url("./assets/images/icon-arrow-down.svg") no-repeat center;
    background-size: contain;

    margin-left: 1rem;
}


.font-selector__fonts {
    display: none;
    width: max(11.438rem, 90%);
    padding: 1.5rem;

    position: absolute;
    left: -50%;
    border-radius: 1rem;
    box-shadow: 0px 0px 30px hsla(0, 0%, 0%, 10%);
}


.font-selector__fonts > li {
    cursor: pointer;
}


.font-selector__fonts > li:hover,
.font-selector__fonts > li:focus-within {
    color: var(--clr-accent-200);
}


/* hide radio buttons */
.font-selector__fonts input {
    position: absolute;
    opacity: 0;
}


.toggle {
    --_track-border-radius: 100rem;
    --_track-padding: 0.875rem;
    --_track-width: 3rem;
    --_thumb-width: 0.875rem;
    --_inline-spacing: 40%;
    
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    position: relative;

    width: var(--_track-width);
    padding-block: var(--_track-padding);

    background-color: var(--clr-neutral-400);
    border-radius: var(--_track-border-radius);

    cursor: pointer;
}


/* slider thumb */
.toggle::before {
    content: "";
    display: inline-block;
    position: absolute;
    
    width: var(--_thumb-width);
    aspect-ratio: 1;

    background-color: var(--clr-neutral-100);

    border-radius: 50%;
    top: 50%;
    left: 0;

    transform: translate(var(--_inline-spacing), -50%);
    transition: transform .2s ease-in-out;
}


/* move toggle thumb to right and saving spacing */
.toggle:checked::before {
    transform: translate(calc(var(--_track-width) - var(--_thumb-width) - var(--_inline-spacing)), -50%);
}


.toggle:checked {
    background-color: var(--clr-accent-200);
}


.search-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem 1.5rem;
    border-radius: 1rem;

    background: var(--clr-neutral-200);
}


.search-bar:focus-within {
    outline: 1px solid var(--clr-accent-200);
}


.search-bar input[type="search"] {
    background: inherit;
    font-weight: bold;
    caret-color: var(--clr-accent-200);
    border: none;
}


.search-bar input[type="search"]:focus {
    outline: none;
}


.search-bar input[type="search"]::-webkit-search-cancel-button {
    display: none;
}


.search-bar__find {
    cursor: pointer;
    border: 0;
    background: none;
}